services:
  mermaid-openapi:
    volumes:
      - &unity "${C_ROOT}${PROJECT_1}:/workspace/src/UnityAssets"
    build:
      context: .
    command: uvicorn mermaid_class.fast_api_server.main:app --host 0.0.0.0 --port 8000 #npx @modelcontextprotocol/inspector 
    depends_on:
      - postgresql
    ports:
      - 8084:8000
      # - 6724:6724
    networks:
      - mynet
    healthcheck:
          test:  ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/docs', timeout=55)"] # or any endpoint that exists
          interval: 25s
          timeout: 3s
          retries: 10
          start_period: 10s

  mermaid-mcp:
    volumes:
      - *unity
    build:
      context: .
    command: python -m mermaid_class.fast_mcp_server.main #npx @modelcontextprotocol/inspector 
    depends_on:
      mermaid-openapi:
        condition: service_healthy  # Wait for health check to pass
    ports:
      - 8085:8000
      # - 6724:6724
    networks:
      - mynet


  postgresql:
    image: postgres:14.20-alpine3.23
    container_name: postgresql
    restart: unless-stopped
    volumes:
      - postgres-diagram-data:/var/lib/postgresql/data
      # - ./postgres/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
    networks:
      - mynet
    ports:
      - "5432:5432"
    secrets:
      - postgres_pw
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_pw #"${POSTGRES_PASSWORD}"
      POSTGRES_USER: mermaid
      POSTGRES_DB: classdiagram_request

  adminer:
    image: adminer
    restart: always
    networks:
      - mynet
    ports:
      - 8011:8080
    depends_on:
      - postgresql

volumes:
  postgres-diagram-data:
    name: postgres-diagram-data
networks:
  mynet:
    driver: bridge

secrets:
  postgres_pw:
    file: ./secrets/postgres_pw
